/* Main html Page*/
.navAdj {
  padding-left: 5%;
  padding-right: 5%;
}

.brandLogo {
  position: relative;
  font-size: 35px;
  font-weight: 600;
  color: black;
}

.brandLogo:hover {
  color:black;
}

.brandLogo::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 125px;
  height: 15px;
  background: rgba(94, 107, 115, 0.75);
  content: "";
  z-index: -1;
}

.nav-header {
  color: black;
}

.nav-header:hover {
  color: #5E6B73;
}

.backgroundPic-1 {
  background-image: url(../images/empty-plate-2.jpg);
  background-size: cover;
}

.backgroundPic-2 {
  background-image: url(../images/empty-plate-1.jpg);
  background-size: cover;
}

.rowAdj {
  margin-top: 5%;
  height: 50vh;
}

.textCenter {
  margin-top: auto;
  margin-bottom: auto;
}

.btnAdj {
  width: 100px;
  transition: none;
}

.btnAdj:hover {
  background-color: #5E6B73;
  border: 1px solid transparent;
  transition: ease-out 0.5s;
}

.footerAdj {
  padding: 30px 0;
  margin-top: 5%;
  color: white;
  background-color: #5E6B73 ;
}

.footerLogo {
  font-size: 35px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.footerLogoDec {
  position: absolute;
  top: 5px;
  right: -15px;
  width: 125px;
  height: 15px;
  background:rgba(52, 58, 64, 0.75);
  content: "";
  z-index: 1;
}

.footerText {
  width: 16%;
  position: relative;
  margin-right: 50px;
}

.nav-footer {
  color: white;
  padding: 5px 0;
}

.nav-footer:hover {
  color: rgb(52, 58, 64);
}

/* Restaurant Page Setting*/
.restaurantSearchBar {
  background-image: url(../images/bread.jpg);
  margin-top: 30px;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.justifyForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.btn-link-1 {
  color: white;
}

.btn-link > i {
  margin-left: 10px;
}

.btn-link-1:hover {
  color: white;
}

/* Search Recipe Pages*/
.control-form {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.getRandomRecipe {
  margin-top: 30px;
}

.imageContainer {
  background-image: url(../images/lemon-chicken.jpg);
  height: 60vh;
  background-size: auto 100%;
}

.groupAdj {
  display: flex;
  padding: 0;
}

.textDecoration {
  position: relative;
}

.groupMargin {
  margin-right: 10px;
}

.btn-link-2 {
  color: rgb(52, 58, 64);
  text-align: left;
  padding-left: 0;
}

.btn-link-2:hover {
  color: #5E6B73;
}

.btnRandom {
  width: 150px;
  transition: none;
}

.btnRandom:hover {
  background-color: #5E6B73;
  border: 1px solid transparent;
  transition: ease-out 0.5s;
}

/* Modal*/
.recipe-img {
  object-fit: contain;
}

.recipe-title {
  color: #5E6B73;
  text-decoration: underline;
}

.random-modal-body {
  height: 85%;
  margin: 30px 0 0 0 ;
  width: 90%;
  overflow-y: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.modal-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.recipt-detail {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
}

.modal-button {
  padding-top: 30px;
}

.btnModal {
  margin: 5px 15px;
}

.theme-color {
  color: #343a40;
}

.hidden {
  display: none;
}
