.navAdj {
  padding-left: 5%;
  padding-right: 5%;
}

a{
  color: black;
}


.backgroundPic-1 {
  background-image: url(../images/gettyimages-837188336-2048x2048.jpg);
  background-size: contain;
}

.backgroundPic-2 {
  background-image: url(../images/gettyimages-626625072-2048x2048.jpg);
  background-size: contain;
}

.rowAdj {
  margin-top: 5%;
  height: 50vh;
}

.textCenter {
  margin-top: auto;
  margin-bottom: auto;
}

.btnAdj {
  width: 100px;
  transition: none;
}

.btnAdj:hover {
  background-color: rgb(156, 175, 183);
  border: 1px solid transparent;
  transition: ease-out 0.5s;
}

.footerAdj {
  padding: 5% 0;
  margin-top: 5%;
  color: white;
  align-items: flex-start;
}

.searchBar {
  background-image: url(../images/61-bread_16042018.jpg);
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.justifyForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.btn-link {
  color: white;
}

.btn-link > i {
  margin-left: 10px;
}

.btn-link:hover {
  color: white;
}
